
.border{
    width:150px;
    border:1em;
    border-color:red;
    border-style:solid;
    padding-left: 0px;
    margin-left: 0px;
}

.coloredUl {
    color: darkblue;
    list-style: none;
    overflow:auto;
    height:auto;
    padding-left:1em;
    padding-left: 1em;
}

.longLi {
    overflow:auto;
    height:auto;
}
.shortLi {
    overflow:hidden;
    width:40em;
    height:20em;
}
